
input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 210px;
}

input[type="checkbox"] {
    margin-bottom: 15px;
    width: auto;
}

#container {
    position: absolute;
    top: 100px;
    left: 400px;
}

table,td,th{
    border:1px solid grey;
}

label{
    width:100px;
}